/*For whole body*/
body{
	margin: 0px;
	margin-bottom: 25vh;
}
/*For Header*/
/*For Navigation Bar*/
#body_header{
	height: 65vh;
	opacity: 0.7;
	background-image: url(https://wallpapercave.com/wp/wp5034115.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding-top: 1.2rem;
}

.horizontal-list{
	list-style: none;
	padding-left: 0px;
	margin:0px;
	
}

.horizontal-list li{
	display: inline-block;
	margin:0px 8px 0px;
}

.horizontal-list li a{
	color: white;
	text-decoration: none;
	
}
.navigation li a{
	transition: 0.5s, border-bottom 4s;
}

.navigation li a:hover{
	color:lightgrey;
	border-bottom: 1px solid white;
}



/*For Name And Social*/
#name_social{
	margin-top: 20vh;
}
#name{
	font-size: 3.5rem;
	letter-spacing: 0.1rem;
	color: white;
	font-weight: 700;
	margin-bottom: 0.5rem;
}
.social li a i{
	pading:10px;
	font-size: 1.2rem;
	border-radius: 50%;
}
.social li a i:hover{
	box-shadow: 0px 0px 6px 4px rgba(230,196,196,0.3);
}
/*For About Section*/
#about{
	height: auto;
	width: 100%;
	position: relative;
}
#image{
	height:12rem;
	width: 12rem;
	margin:auto;
	margin-top: -17vh;
}
#image img{
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border:2px solid lightgrey;
	box-shadow: 0px 0px 6px 4px f8f1f1;
}
#about_me{
	padding:10px;
	width: 70%;
	text-align: justify;
	color: grey;
	margin: auto;
	font-size: 1.2rem;
	line-height: 20px;
	font-family: sans-serif;
}

section{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

section:nth-child(2n+1){
	background-color: white;
}
section:nth-child(2n){
	background-color: #9e9b9b29;
}
/*Skill section*/
.section_heading{
	width: auto;
	padding: 20px 10px 10px;
	font-weight: 400;
}

.section_heading span{
	font-size: 40px;
	color:#2857a4;
	display: inline-block;
	padding-top: 10px;
	margin-right: 0.5rem;
}
.skill_display{
	width: 70%;
	height: 100px;
/*	border:2px solid black;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.skill_progress{
	width: 7rem;
	height: 1.4rem;
	background-color: lightgrey;
	border-radius: 0.8rem;
	margin:0px 1px 0px;

/*	border:2px solid black;*/
}
.skill_progress>div{
	border-radius: 20px 0px 0px 20px;
}
.skill_name span{
	color: white;
	font-size: 1rem;
	margin-left: 10px;
}

/* Work Experience */

.timeline {
    position: relative;
    width: 75%;
}

.timeline-box {
    padding: 5px;
    width: 40%;
    min-height: 150px;
    position: relative;
    left: 5%;
    text-align: right;
}

.timeline-box::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: lightgrey;
    top: 25%;
    border-radius: 50%;
    z-index: 1;
}

.timeline-box:nth-child(2n) {
    left: 53%;
}

.timeline-box:nth-child(2n+1)::after {
    right: -11.8%;
}

.timeline-box:nth-child(2n)::after {
    left: -9%;
}

.timeline-container {
    padding: 8px;
}

.timeline-logo {
    position: absolute;
    width: 50px;
    overflow: hidden;
}

.timeline-logo > img {
    width: 100%;
}

#timeline-divider {
    position: absolute;
    width: 0;
    top: 10%;
    left: 50%;
    border: 1px dashed #0096fa6b;
    height: 66%;
    color: #433E3F;
}

#timeline-divider .timeline-traveller {
    position: sticky;
    top: 135px;
    z-index: 2;
}

#timeline-divider i {
    transform: rotate(90deg);
    margin-top: -35px;
    display: block;
    color: #2857a4;
}

.experience-designation {
    font-size: 1.4rem;
}

.experience-company-name {
    margin: 5px 0 0;
    color: #eb822d;
    font-weight: 400;
    font-size: 1.2rem;
}

.experience-duration {
    color: #9e9b9b;
    font-weight: 100;
    color: grey;
    font-size: 1rem;
}

.experience-description {
    font-size: 14px;
    padding: 2px;
    color: grey;
    line-height: 20px;
}

.text-align-justify {
    text-align: justify;
}



/*Protfolio*/

.projects{
	width: 70%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.project_pic{
	position: relative;
	text-align: center;
}

.project_pic img{
	height: 12rem;
	width: 12rem;
}

.project_desc{
	position: absolute;
	opacity: 0;
	color: black;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 200ms ease-out;
	text-align: center;
	font-family: fantasy;
	color: white;
	text-shadow: -1px 1px 0 #000,
                  1px 1px 0 #000,
                 1px -1px 0 #000,
                -1px -1px 0 #000;
}
.project_pic .project_desc:hover{
	box-shadow: 0px 0px 6px 4px lightgrey;
	opacity: 1;
}

/* Contact Form */

#contact {
    background-color: #0abcf9;
    background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
    color: white;
    padding-bottom: 40px;
}

#contact h1,
#contact h1 span {
    color: white;
}

#contact-form {
    margin-left: 20%;
}

#contact-container {
    display: flex;
}

#my-details-container {
    width: 35%;
    margin-left: 6%;
}

#my-details-container h3 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}

#contact-form-container {
    width: 50%;
}

#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
}

.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
    font-size: 1rem;
}

.my-details-info-container span {
    margin-left: 0.4rem;
}

.my-details-info-container i {
    color: white;
}

.my-details-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-right: 0.5rem;
}


#contact-form input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: #d9dcdd;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}

#contact-form button[type="submit"] {
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

#contact-form button:hover {
    background: white;
    color: #13386fe0;
}

#contact .social-icons li a i {
    font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 10px 14px 20px 10px;

}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/*common class*/
.mb75px{
	margin-bottom: 75px;
}
.text_highlight{
	color: #2857a4;
	font-weight: 600;
}
.text-center{
text-align: center;
}
.bc_blue{
	background-color: #2857a4;
}
.bc_orange{
	background-color: #ff7200;
}
.bc_green{
	background-color: #1a8c18;
}
.bc_violet{
	background-color: #9575cd;
}
.bc_pink{
	background-color: #e216b6;
}
.eighty_five_percent{
	width: 85%;
	height: inherit;
}
.sixty_five_percent{
	width: 65%;
	height: inherit;
}
.eighty_percent{
	width: 80%;
	height: inherit;
}
.seventy_percent{
	width: 70%;
	height: inherit;
}.seventy_five_percent{
	width: 75%;
	height: inherit;
}
